.create-drug-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .create-drug-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .create-drug-form form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .create-drug-form form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
  }
  
  .create-drug-form form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-drug-form form button:hover {
    background-color: #1c1c1c;
  }
  
  .create-drug-form form p {
    font-size: 16px;
    color: #2f2f2f;
    margin-top: 20px;
  }
  